body {
    margin: 0;
    background: #fceee9;
    text-align: center;
    line-height: 1.5;
    position: relative;
    
}

main {
    scroll-padding-top: 40%;
    padding-top: 80px;
    align-items: center;
}

.content-width {
    max-width: 90ch;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

#navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: #6a9346;
    color: #dcafc0;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 21px;
    /* border-style: inset;
    border-width: .6em;
    border-radius: 1em;
    border-color: #539039; */
}

.nav {
    list-style: none;
    display: inline;
    padding-right: 40px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

h1 {
    display: inline-block;
    color: #a3b899;
    background-color: 	#f8d3c5;
    font-family: 'Unbounded', sans-serif;
    font-size: 4em;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    border-style: dotted;
    border-width: thick;
}

h1:hover {
    color: #7ec031
    ;
}

.hearts {
    font-family: 'Gulfs Display', Georgia, serif;
    font-size: .6em;
}

/* .hearts:hover {
    color: white;
    font-size: .8em;
} */

h2 {
    color: #667b68;
    font-size: 25px;
}

h3 {
    color: #b6d7a8;
    font-size: 25px;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

h2, h3, h4, h5 {
    font-family: 'Rubik Mono One', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

#viewport {
    width: 350px;
    height: 350px;
    overflow: hidden;
    /*justify-self: center;
    align-self: center;*/
    position: relative;
    top: 50%;
    left: 25.5%
}

#images {
/*    background-color: pink; */
    /*width: fit-content;*/
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    
}

.book img{
    box-sizing: content-box;
    /*background-color: #7ec031; */
    width:  350px;
    height: 350px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 4px solid #fceee9; */
}

button {
    background-color: #6a9346; 
    border: none;
    color: #dcafc0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 16px;
  }
