body {
    background: #fceee9;
    text-align: center;
}

h1 {
    display: inline-block;
    color: #a3b899;
    background-color: 	#f8d3c5;
    font-family: Garamond, Georgia, serif;
    font-size: 4em;
    padding: 0px;
    margin: 0px;
    margin-top: 15px
}
h1 span {
    font-size: .75em;
}

h2 {
    color: #667b68;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-size: 2em;
}